# Binaries
/bin
/out
.artifacts
.build*

# Test Results
/test_results

# Temporary Files
.tmp
*.swp
*.log
*.out

# Test Binaries
*.test

# Ignore Binaries Built with go build
/harvester
/server
cmd/harvester/harvester
cmd/server/server

# Editor Specific Configurations
.idea
.vscode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Linux ###
# Temporary Files
*~

# Linux Trash Folder
.Trash-*
