/bin
/vendor
/test_results
/artifacts
/releases
/out
.build*
.tmp
*.swp
*.log
*.out

# Test binary, built with `go test -c`
*.test

# Ignore binaries built using go build either from the root of the repo or
# within the respective main packages.
/harvester
/server
cmd/harvester/harvester
cmd/server/server

# Editor specific configuration
.idea
.vscode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*

### Linux ###
*~
# Linux trash folder which might appear on any partition or disk
.Trash-*
