* @wibarre @mchurichi @jufantozzi @maxlambrecht @mgbcaio @Victorblsilveira

##########################################
# Maintainers
##########################################

# William Barrera
# Hewlett-Packard Enterprise
# @wibarre
# Slack: https://spiffe.slack.com/team/U031T0XK20L

# Maximiliano Churichi
# Hewlett-Packard Enterprise
# @mchurichi
# Slack: https://spiffe.slack.com/team/U9LGKELCR

# Juliano Fantozzi
# Hewlett-Packard Enterprise
# @jufantozzi
# Slack: https://spiffe.slack.com/team/U026EMKEQQK

# Max Lambrecht
# Hewlett-Packard Enterprise
# @maxlambrecht
# Slack: https://spiffe.slack.com/team/UALSSBL6Q

# Caio Milfont
# Hewlett-Packard Enterprise
# @mgbcaio
# Slack: https://spiffe.slack.com/team/U03AQJMUGGP

# Victor Vieira Barros Leal da Silveira 
# Hewlett-Packard Enterprise
# @Victorblsilveira
# Slack: https://spiffe.slack.com/team/U028EK6L4VB
